<h2>Dashboard</h2>
<div class="dashboard">
    <div>
        <a routerLink="/list">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Number of Chit fund organisations</h4>
                    <div class="counter">
                        {{countOfStats}}
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Number of Chit fund branches</h4>
            <div class="counter">
                {{countOfBranches}}
            </div>
        </div>
    </div>
</div>